django
django[argon2]
django[mysql]
django-colorfield
django-multiupload
django-storages
git+git://github.com/Chive/django-multiupload.git@ba52e161a68ce19062c3655e89544c2d377990a0#egg=multiupload
git+https://kumig.it/kumisystems/django-dbsettings.git
mysqlclient
boto3
argon2_cffi
python-telegram-bot